<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Welcome to the Task App</title>
  </head>
  <body>
    <div>
      <p>Hello <%= User.name %>!</p>
      <p>You have been added as a user to the Task App. Please click on below link to set your password and access your account !</p>
      <p><%=link_to "please first click this link to reset your password", edit_user_password_url(reset_password_token: @token), html_options = { style: "font-weight: bold" } %>.</p>
      <p>If you didn't request this, please ignore this email.</p>
    </div>
    <p>Best regards,</p>
    <p>The Task App Team</p>
  </body>
</html>